@use "variables" as *;

.aboutSection{
    justify-content: center;
    background-color:$secondaryColor;
}

.aboutContainer{
    padding: 50px 0;
    flex-direction: column;
    text-align: center;
    .profileImageContainer{
        img{
            width: 200px;
            height: auto;
            border-radius: 50%;
        }
    }
    .aboutText{
        color: $primaryColor;
        text-align: center;
        p{
            text-align: left;
          line-height: 1.6;
          letter-spacing: 1.5px;
            
        }
    }
    
}