@use "variables" as *;

.aboutSection{
    justify-content: center;
    background-color:$primaryColor;
    // background: rgb(255,255,255);
    // background: linear-gradient(180deg, rgba(255,255,255,1) 49%, rgba(0,93,133,1) 100%); 
    // background: rgb(0,93,133);
     
}

.aboutContainer{
    padding: 50px 0;
    justify-content: center;
    // gap: 5%;
    text-align: center;
    .aboutText{
        width: 70%;
        text-align: center;
        text-shadow: 1px 1px black;
        p{
          text-align: left;
          line-height: 1.6;
          letter-spacing: 1.5px;
            
        }
    }
    
}