@use "variables" as *;

.contactSection{
    background-color:$thirdColor;
}

.contactContainer{
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
    .socialContainer{
        flex-direction: row;
        justify-content: center;       
        .socialIcon{
            padding: 10PX;
            font-size: 2rem;
        } 
    }
    .contactText{
        padding-bottom: 15px;
    }
    .resumeButton{
            background-color: $sixthColor;
            padding: 5px 10px;
            font-size: 1em;
            text-transform: capitalize;
            text-align: center;
            border: none;
            border-radius: 5px;
            transition: 0.3s;
    }
}