@use "variables" as *;

header{
    // background-image: linear-gradient(black, black), url(/assets/images/tor-skyline.jpg);
    // background-blend-mode: saturation;
    background: $gradientOne;
    background-size:600%;
    // background-position:right;
    background-repeat: no-repeat;
    height: min(100vh, 100rem);
    flex-direction: column;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation{
  100%{background-position: right;}
  0%{background-position: 100%;}
}
/*Thanks to Kevin Powell for "Fun ways to animate CSS gradients" tutorial*/ 


/*.heroBox and .heroText styling */  
.heroBox{
    justify-content: center;
    align-items: center;
    text-align: center;
    .heroText{
        flex-direction: column;
        h1{
            text-shadow: 1px 1px black;
            margin-top: 6rem;
            font-size: 3.5rem;
            border-bottom: 1px white solid;
            color: white;
        }
        h2{
            margin-top: 1rem;
            text-transform: capitalize;
            text-shadow: 1px 1px black;
            color: white;
            font-size: 1.30rem;
        }
    }
    
} 


// Nav and anchor styling
.navBar{
  justify-content: center;
    font-size: 32px;
    letter-spacing: 1px;
    ul li {
      padding: 30px;
    }
    @media (max-width:$tablet){
      justify-content: end;
    }
    @media (max-width: $mobile){
      ul li {
        padding: 15px;
      }
    }
  }

  nav a {
    // font-family: $headingFont;
    text-shadow: 1px 1px black;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
    letter-spacing: 1px;
    transition: 0.7s ease;
    &:hover{
        color: $fourthColor;
    }
    &:focus{
        color:$fourthColor;
    }
  }
  
/* remove default styling from lists */
ul {
  display: flex;
  justify-content: center;
  list-style: none;
}


// hamburger menu styling

.bar{
  display: block;
  width: 40px;
  height: 4px;
  margin: 5px auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
  box-shadow: 1px 1px black;
}

@media (min-width:$tablet) {
.hamburgerMenu{
  display: none;
} 
}

@media(max-width:$tablet){
  .navBar{
    display: flex;
    justify-content: flex-end;
  }
  .hamburgerMenu{
    display: block;
    position: fixed;
    margin-top: 1rem;
    z-index: 99999;
  }
  .hamburgerMenu.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburgerMenu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburgerMenu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .navList{
    position: fixed;
    left: 100%;
    // top: 45px;
    flex-direction: column;
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 100%;
    text-align:end;
    transition: 0.3s;

  }
  .navItem{
    margin: 16px 0;
  }
  
  .navList.active{
    left: 0;
    
}
}