@use "variables" as *;

.projectsSection{
    flex-direction: column;
    align-items: center;
    background: $secondaryColor;
    .projectContainer{
        margin: 5rem auto;
        display: flex;
        @media (max-width: $desktop){
            width: 50%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media (max-width: $tablet){
            flex-direction: column;
        }
        .projectCard{
            width: 75%;
            height: auto;
            margin: 20px;
            background: $fourthColor;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border: 1px solid $sixthColor;
            border-radius: 5px;
            transition: 0.3s;
            @media (max-width: $desktop){
                width: 90%;
                height: auto;
            }
            &:hover{
                box-shadow: -10px 10px 0 $sixthColor;
            }
            .projectImage{
                display: flex;
                justify-content: center;
                width: 100%;
                img{
                    filter: grayscale(100%);
                    margin: 10px 0;
                    width: 90%;
                    height: auto;
                    &:hover{
                        filter: grayscale(0%);
                    }
                }
                
                
            }
            .projectCardText{
                flex-direction: column;
                text-align: center;
                padding: 10px;
                margin: 10px;
                line-height: 2em;
                h4{
                    font-size: 2em;
                    text-transform: capitalize;
                }
                h5{
                    text-transform: uppercase;
                }
                summary{
                    size: 1rem;
                    text-align: left;
                    list-style: none;
                }
            }
            .cardButtons{
                display: flex;
                justify-content: space-around;
                a{
                    background-color: $sixthColor;
                    padding: 5px 10px;
                    font-size: 1em;
                    text-transform: capitalize;
                    text-align: center;
                    border: none;
                    border-radius: 5px;
                    transition: 0.3s;
                    @media (max-width: $desktop){
                        width: 25%;
                        margin: 5px 0;
                        padding: 1px;
                    }
                    &:hover{
                        background-color: $thirdColor;
                        color: black;
                    }
                    &:focus{
                        background-color: $thirdColor;
                        color: black;
                    }
                }
            }
        }
    }
}