@use "variables" as *;

.skillSection{
    background-color:$thirdColor;
    
}

.skillsContainer{
    padding: 125px 0;
    justify-content: space-evenly;
    flex-direction: column;
    .skillText{
        justify-content: center;
        h3{
            
            border-bottom: 2px solid;
        }
    }
    .skillList{
        flex-direction: column;
        .list{
            justify-content: space-evenly;
            .skillIcon{
                font-size: 5rem;
            }
        }
    }
}