@use "variables" as *;

.skillSection{
    background-color:$thirdColor;
    
}

.skillsContainer{
    padding: 125px 0;
    justify-content: space-evenly;
    .skillText{
        padding: 10px;
    }
    ul{
        li{
            padding: 0 10px;
            list-style-type: disc;
        }
    }
    .list{
        padding: 0 10px;
    }
}