// COLOURS
// $primaryColor:#343434;
$primaryColor:#121212;
$secondaryColor: #E8F7EE;
$thirdColor:#005D85;
$fourthColor:#FFCB77;
$gradientOne:(linear-gradient(90deg, #ffcb77,#005d85));
$gradientTwo:(linear-gradient(45deg,#121212,#313131));

// FONTS
$headingFont: 'Roboto-bold', Arial;
$bodyFont: 'Lora-Medium', Arial;


// breakpoints
$wideDesktop:"1300px";
$desktop:"1200px";
$tablet:"810px";
$mobile:"420px";
