// COLOURS
$primaryColor:#2c2e31;
$secondaryColor: #E8F7EE;
$thirdColor:#B8C4BB;
$fourthColor:#C9D6EA;
$fifthAmendment:#F98948;
$sixthColor:#4195aa;


// FONTS
$headingFont: 'Roboto-bold', Arial;
$bodyFont: 'Lora-Medium', Arial;


// breakpoints
$wideDesktop:"1300px";
$desktop:"1000px";
$tablet:"810px";
$mobile:"420px";
